.card {
  padding: 0.75rem;
  background: var(--bg-white);
  border: 1px solid var(--border-gray);
  border-radius: 0.375rem;
}

.card:not(:first-child) {
  margin-top: 1rem;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 0.75rem;
  border-bottom: 1px dashed var(--border-gray);
}

.header > img {
  border-radius: 50%;
}

.heading {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-blue);
  margin: 0;
  margin-left: 0.75rem;
}

.content {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--text-black);
  margin: 0;
  margin-top: 0.75rem;
}
